<div class="d-flex flex-column justify-content-center align-items-center vh-100 gap-3">

  <div class="card" style="width: 500px;">

    <div class="card-header text-center">
      <h4 class="mb-0">To-Do List App</h4>
    </div>

    <div class="card-body">

      <div class="input-group mb-3">
        <input
          type="text"
          [(ngModel)]="taskTitle"
          (keyup.enter)="addTask()"
          class="form-control"
          placeholder="What do you need to do?">
        <button class="btn btn-primary" type="button" (click)="addTask()">
          Add
        </button>
      </div>

      <ul class="list-group">
        @for (task of taskList(); track task.id) {
          <app-todo-item-component
            [task]="task"
            (deleteTask)="onDeleteTask($event)"
            (toggleStatus)="onToggleStatus($event)">
          </app-todo-item-component>
        } @empty {
          <li class="list-group-item text-center text-muted">!!!! There is No Tasks Currently !!!!</li>
        }
      </ul>

    </div>
  </div>
</div>